html {
    
    background-image: url(../image/BackgroundImage.jpg);
}


body {
    
    width: 1000px;
    
    padding: 70px;
    
    margin-top:50px ;
    
    margin-left: auto;
    
    margin-right:auto;
    
    margin-bottom:50px ;
        
}

body {
    
    text-align: center;
    font-family:'Passion One', cursive;
}

body {
    
    border: 1px dashed #000;
        
        background-color:white;
}

a {
    font-size: 12pt;
    
    color:#7F8678 ;
    text-decoration: none;
}

a:hover {
    
    color:#e3e4e0;
}

h1 {
    
    font-size:30px ;
    
    color:#4b5556 ;
    
    text-transform: uppercase;
    
}

p {
    
    font-size: 14pt;
    
    line-height: 16pt;
    
    text-indent: 20pt;
    
    text-align: center;
}

img {
    
    border: 1px solid #c7c788;
        
}